<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); -%>
  <body>
    <!--   Nav Bar  -->
    <nav class="red darken-4 sidenav-trigger z-depth-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="brand-logo" href="#!" class="brand-logo">R-Vasquez</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://github.com/r-vasquez/proyectoPersonal">Ir a GitHub</a></li>
        </ul>
      </div>
    </nav>

    <!--   Side Nav for Mobile  -->
    <ul class="sidenav" id="nav-mobile">
      <li><a href="https://github.com/r-vasquez/proyectoPersonal">Ir a GitHub</a></li>
    </ul>

    <!--   Title Section with Parallax -->
    <div class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h2 class="header center white-text">Top Rated 100 Movies</h2>
          </div>
          <div class="row center">
            <h5 class="header col s12 light">a personal project of R.Vasquez</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img class="responsive-img" src="../images/cinema2.jpeg" /></div>
    </div>

    <!--   Button Section   -->
    <div class="container">
      <div class="section">
        <div class="row center">
          <div class="col s12">
            <form action="/" method="POST">
              <div class="input-field">
                <button class="red darken-4 waves-effect waves-light btn-large" type="submit">
                  <i class="material-icons left">get_app</i>Get List
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="row center">
          <% if(queryResult.length === 0){ %>
          <h5 class="text-align:center">
            Empty List
          </h5>
          <p>Click the button above to start</p>
          <% } else { %>
          <h5>Found movies: <%- queryResult.length %></h5>
          <table class="centered highlight">
            <tr>
              <th class="center">Rank</th>
              <th class="center">Title</th>
            </tr>
            <% for (const movie of queryResult) { %>
            <tr>
              <td><%- movie.rank %></td>
              <td><%- movie.title %></td>
            </tr>
            <% } %>
          </table>

          <% } %>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/init.js"></script>
  </body>
</html>
